version: '3.8'

services:
  zookeeper:
    image: confluentinc/cp-zookeeper:latest
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    networks:
      - kafka-network

  kafka:
    image: confluentinc/cp-kafka:latest
    depends_on:
      - zookeeper
    ports:
      - "9092:9092" # External port for PLAINTEXT
      - "9093:9093" # External port for PLAINTEXT_HOST
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,PLAINTEXT_HOST://0.0.0.0:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:9093
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    networks:
      - kafka-network

  schema-registry:
    image: confluentinc/cp-schema-registry:latest
    depends_on:
      - kafka
    ports:
      - "8081:8081"
    environment:
      SCHEMA_REGISTRY_KAFKASTORE_BOOTSTRAP_SERVERS: PLAINTEXT://kafka:9092
      SCHEMA_REGISTRY_LISTENERS: http://0.0.0.0:8081
      SCHEMA_REGISTRY_HOST_NAME: schema-registry
    networks:
      - kafka-network

  control-center:
    image: confluentinc/cp-enterprise-control-center:latest
    depends_on:
      - kafka
      - schema-registry
    ports:
      - "9021:9021"
    environment:
      CONTROL_CENTER_BOOTSTRAP_SERVERS: kafka:9092
      CONTROL_CENTER_ZOOKEEPER_CONNECT: zookeeper:2181
      CONTROL_CENTER_SCHEMA_REGISTRY_URL: http://schema-registry:8081
      CONTROL_CENTER_REPLICATION_FACTOR: 1
      CONTROL_CENTER_INTERNAL_TOPICS_PARTITIONS: 1
      CONTROL_CENTER_MONITORING_INTERCEPTOR_TOPIC_PARTITIONS: 1
      CONTROL_CENTER_COMMAND_TOPIC_PARTITIONS: 1
    networks:
      - kafka-network

  kafka-producer:
    image: openjdk:21
    depends_on:
      - kafka
    build:
      context: ./kafka-producer
    command: ["java", "-jar", "/kafka-producer-0.0.1-SNAPSHOT.jar"]
    volumes:
      - ./kafka-producer/target/kafka-producer-0.0.1-SNAPSHOT.jar:/kafka-producer-0.0.1-SNAPSHOT.jar
    environment:
      SPRING_PROFILES_ACTIVE: "docker"
      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:9092
    networks:
      - kafka-network

  kafka-consumer:
    image: openjdk:21
    depends_on:
      - kafka
    build:
      context: ./kafka-consumer
    command: ["java", "-jar", "/kafka-consumer-0.0.1-SNAPSHOT.jar"]
    volumes:
      - ./kafka-consumer/target/kafka-consumer-0.0.1-SNAPSHOT.jar:/kafka-consumer-0.0.1-SNAPSHOT.jar
    environment:
      SPRING_PROFILES_ACTIVE: "docker"
      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:9092
    networks:
      - kafka-network

networks:
  kafka-network:
    driver: bridge
